doctype html
html
  head
    title Broilerplate
    link(rel="stylesheet" href="styles/main.css")
  body
    h1 Broilerplate!!
    img(src="images/broiler.jpg")
    script(rel="javascript" src="javascripts/main.js")
